.menuItem-wrapper{
    width:90%;
    height:auto;
    padding:0 2em;
    margin:auto;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
}

.menu-item-container{

}

.category-title{
    width:100%;
    margin:60px auto;
    margin-bottom:60px;
    text-align: center;
}

.menuItem-tabs{
    width:300px;
    height:auto;
    margin:15px auto;
    padding-bottom:60px;
    flex:0 0 30%;
    text-align:left;
}

.menu-item-content-wrapper{
    display:flex;
    justify-content: space-between;
    flex-flow:row nowrap;
    font-size:1rem;
}

.menu-item-content-wrapper > h3{
    color:rgb(119, 4, 4);
    font-size:1.4rem;
    font-weight:500;
}


.menu-item-price{
    margin:auto 0;
}



@media screen and (max-width:700px){
    .menuItem-wrapper{
        width:100%;
    }
    .menuItem-tabs{
        flex:0 0 80%;
        padding:0;
    }

    
}