@import url('https://fonts.googleapis.com/css2?family=Brawler&display=swap');
*{
  box-sizing: border-box;
}
html{
  margin:0;
  padding:0;
}

body {
  font-family:"Brawler";
  color: white;
  background-color:#0E0D0D;

  
}
