@import url('https://fonts.googleapis.com/css2?family=Brawler&display=swap');
*{
  box-sizing: border-box;
}


html{
  margin:0;
  padding:0;
  
  min-height:100%;
  /* background-image: linear-gradient(to right top, #000000, #100003, #1a0004, #220003, #280000); */
  /* background-image: linear-gradient(to right top, #090809, #0e0d0d, #121111, #151414, #181717, #1c1717, #201717, #241717, #291313, #2e0f0f, #320909, #360202) !important;
background-repeat: no-repeat;
background-size:cover; */
}

body {
  width:100%;
  min-height:100%;
  font-family:"Brawler";
  color: black;
  background:transparent !important;
}


.homepage-container{
  width:100%;
  margin:50px 0;
}

.checkbg-wrapper{
  margin:auto;
  width:150px;
  height:100px;
}

.checkbg{
  margin:0 auto;
  width:100%;
}

.welcome-message{
  width:60%;
  margin:100px auto;
  text-align:center;
  padding:25px;
}

.welcome-h1, .welcome-h3{
  margin:20px auto;
}

.welcome-message >p{
  letter-spacing:2px
}

.product-section{
  display:flex;
  width:90%;
  justify-content:space-evenly;
  flex-flow:row wrap;

  
}

section{
  margin: 100px auto;
}

.product-section > div{
  color:white;
  white-space: 2px;
  flex: 0 0 30%;
  box-shadow:0px 1px 5px rgb(118, 3, 3);
 background-image: radial-gradient(circle, #a80000, #8c0008, #6f000b, #530008, #380101);
  height:300px;
  padding:10px;
  text-align:center;
  margin:50px auto;
  border-radius:15px;
  display:flex;
  flex-flow:column wrap;
  justify-content:space-evenly;
}

.product-section > div:nth-child(even){
  font-weight:500;
  color:white;
 background-image: radial-gradient(circle, #000000, #030303, #060606, #080808, #0b0b0b);
}

.product-section-title > a {
  text-decoration: none;
  color:white;
}

.product-section-title > a:hover{
  cursor: pointer;
}


.selection-section{
  width:90%;
  margin:100px auto;
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  padding:40px;
  box-shadow:0px 1px 5px rgb(216, 216, 216);
  border-radius:15px;
}

.selection-section > div>  h3{
  font-size:1.5rem;
}

.selection-child{
  flex: 0 0 40%;
  
}

hr{
  border:solid 1px rgb(255, 0, 0);
}

.selection-content-content{
  padding:10px;
  margin:auto;
}

.selection-img{
  margin:auto;
  display:flex;
  justify-content:flex-end;
}




@media screen and (max-width:850px) {
  .homepage-container{
    margin:0;
  }

  .welcome-message{
    width:100%;
    padding:0 30px;
    margin:100px auto;
  }

  .product-section{
    flex-flow:column nowrap;
    justify-content:space-evenly;
    gap:20px;
    width:80%;
  }

  .product-section > div{
    flex:0 0 auto;
    margin:10px auto;
  }

  .selection-section{
    flex-flow:column wrap;
    justify-content:center;
    text-align: center;
  }

  .selection-img > img{
margin:0 auto;
}
}