@import url('https://fonts.googleapis.com/css2?family=Brawler&display=swap');
*{
  box-sizing: border-box;
}


html{
  margin:0;
  padding:0;
  
  min-height:100%;
  /* background-image: linear-gradient(to right top, #000000, #100003, #1a0004, #220003, #280000); */
  background-image: linear-gradient(to right top, #090809, #0e0d0d, #121111, #151414, #181717, #1c1717, #201717, #241717, #291313, #2e0f0f, #320909, #360202) !important;
background-repeat: no-repeat;
background-size:cover;
}

body {
  width:100%;
  min-height:100%;
  font-family:"Brawler";
  color: white;
  background:transparent !important;
}


.homepage-container{
  width:100%;
  margin:50px 0;
}

.checkbg-wrapper{
  margin:auto;
  width:150px;
  height:100px;
}

.checkbg{
  margin:0 auto;
  width:100%;
}

.welcome-message{
  width:60%;
  margin:100px auto;
  text-align:center;
  padding:25px;
}

.welcome-h1, .welcome-h3{
  margin:20px auto;
}

.welcome-message >p{
  letter-spacing:2px
}


@media screen and (max-width:900px) {
  .homepage-container{
    margin:0;
  }

  .welcome-message{
    width:80%;
    margin:30px auto;
  }
}