:root{
  --font:2rem;
  --line:calc(var(--font) * 2);
  --move:calc(-1 * var(--line))
}

.corousel-container{
    width:100%;
    margin: 0 auto;
    margin-bottom:100px;
    transition: ease-in 1s;
}

.carousel {
  width:100%;
  margin: auto;
}

.carousel-inner{
    object-fit: cover;

}

.car-img{
  min-height:10vh;
  max-height:500px;
}



.slider-img-title{
  margin:auto;
  position:absolute;
  text-align:center;
  font-size:var(--font);
  width:100%;
  height:fit-content;
  padding:20px;
  z-index:1;
  color:white;
  top:75%;
  -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(7, 7, 7, 0.5);

}



@media (max-width: 688px) {
    .carousel-item>img {
        min-height:200px;
    }

   .carousel-indicators{
     display:none;
   }

    .slider-img-title{
      font-size:1em;
    }

   

    .slider-img-title{
     bottom:0;
    }

    .car-img{
      min-height:none;
      max-height:200px;
    }
}

