.corousel-container{
    width:100%;
    margin:auto;
}

.carousel {
  width:100%;
  margin: auto;
}

.carousel-inner{
  height:700px !important;
}

.carousel-indicators{
  display:none !important;
}

@media (max-width: 688px) {
    .carousel-item>img {
        max-height: 146px;
    }
}

