.navbar-container{
    width:100%;
}
.header{
    
    width:100%;
    height:100px;
    display:flex;
    justify-content:space-between;
    flex-flow:row nowrap;
    padding:0 20px;
   box-shadow: 3px 1px 7px 0px black;
   background-color:rgb(17 12 18);
}

.logo-container, .nav-container{
    margin:auto 0;
}

.logo{
    object-fit:cover;
    width:50px;
    height:70px;
    margin:auto 10px;
}

/* Navbar */


.navLink-container{
    max-width:100%;
    display:flex;
    width:40%;
    margin-left:250px;
}

.navbar-light .navbar-toggler{
   border-color:white;
}

.navbar-toggler-icon{
    filter:invert(1)
}

.nav-item > a {
    font-size:1.2em;
    padding:0 10px;
    margin:auto ;
      text-decoration: none !important;
      color:white;
}

.nav-collapse{
    z-index:999;
}


/* Footer */

.footer-wrapper{
    position:relative;
    bottom:0;
    height:auto;
     background-color:rgb(17 12 18);
     display:flex;
     justify-content:space-between;
     flex-flow:row wrap;
}

.footer-logo-wrapper,.footer-schedule-wrapper,.footer-information-wrapper{
flex:0 0 30%;
height:80%;
margin:auto;
}




.footer-schedule-wrapper{
    padding:5px;
text-align: center;
color:white;
}

.footer-information-wrapper{
    text-align:center;
    padding:10px;
    color:white;
}

.footer-icon{
    width:25px;
    
}

.footer-logo{
    position:relative;
    left:25%;
    width:50%;
}


.facebook-icon{
    filter:invert(.8)
}

@media screen and (max-width:992px){
    .nav-collapse{
        width:50px;
        background-color:rgba(0, 0, 0, 0.451);
    }

    .nav-item > a {
        color:white;
    }

    
    .footer-logo-wrapper,.footer-schedule-wrapper,.footer-information-wrapper{
flex:0 0 90%;
height:80%;
margin:20px auto;
}
}